/* RESETS
=========================================== */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* POKEMON APPLICATION
=========================================== */
.container {
  display: flex;
  max-width: 550px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container p {
  margin: 0;
}

.container .pokemon {
  width: 49%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  margin-bottom: 20px;
}

.container .pokemon__name {
  background-color: #ecd018;
  text-align: center;
  padding: 10px;
}

.container .pokemon__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.container .pokemon__image {
  padding: 20px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pokemon__image img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.container .pokemon__types {
  padding: 5px;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.container .pokemon__type {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

.container .pokemon__weaknesses {
  padding: 5px;
  background-color: #fbfbfb;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.container .pokemon__weakness {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
}

.container .pokemon__special-attacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .pokemon__special-attacks span {
  width: 30%;
  background-color: #f16820;
  border-radius: 3px;
  padding: 7px;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
  line-height: 15px;
}

.container .pokemon__meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.container .pokemon__meta span {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #7bb7b7;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
}

.fire {
  background-color: #f16820;
}

.grass {
  background-color: #7bb7b7;
}

.water {
  background-color: #2196f3;
}

.electric {
  background-color: #ffeb3b;
}

.ground {
  background-color: #413c1d;
}

.psychic {
  background-color: #7414ac;
}

.fighting {
  background-color: #d50000;
}

.normal {
  background-color: #bdbdbd;
}

.dark {
  background-color: #424242;
}

.flying {
  background-color: #1976d2;
}

.poison {
  background-color: #7b1fa2;
}

.rock {
  background-color: #bcaaa4;
}

.ghost {
  background-color: #607d8b;
}

.steel {
  background-color: #b0bec5;
}

.ice {
  background-color: #81d4fa;
}

.bug {
  background-color: #8bc34a;
}

.dragon {
  background-color: #7b1fa2;
}

.fairy {
  background-color: #f06292;
}